# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/
MANIFEST

# Unit test / coverage reports
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# package directories
node_modules
jspm_packages
.DS_Store
.idea
